header{background-color: black; color: white; font-size: larger;margin-bottom: 1em; }
.slider-div{ text-indent: 40px;}
footer{background-color: black; color: aliceblue; text-align: center;font-size:larger ;}
p{font-family: serif; font-size:larger ;}